@media screen and (max-width: 810px) {

	#mainContent {
		width: 100%;
	}
	#pageWrap {
		width: 90%;
		margin: 0 auto;
		float: none;
			h2 {
				margin: 0 auto;
				padding: 0.308em 0.618em 0.191em 0.618em;
			}
	}
	#sidebarPageWrap {
		float: none;
		width: 90%;
		margin: 0 auto;
		border-top: 1px solid $darkColor;
	}
	#logo {
		position: relative;
		left: 1.618em;
		top: 0em;
	}
	#headerNavWrap nav:first-of-type {
		display: none;
	}
	#showMobileMenu {
		display: block;
		top: 4.934em;
		right: 3.049em;
	}

	#firstContactWrap {
		width: 90%;
	}
	#headerImageWrap > div {
		width: 160px;
		height: 120px;
		margin: 0.618em 0.499em;
	}
	.columns {
		width: 90%;
		float: none;
		margin: 0.618em auto;
		padding: 0px;
		border-radius: 4px 4px 0px 0px;
			p {
				height: auto;
				padding: 1em;
			}
			h3 {
				width: 100%;
				margin: 0 auto;
				border-radius: 0px;
			}
			img {
				display: none;
			}
	}
}