	
	// Fonts  

$fontbase: 16px;

$sans: 'Open Sans', sans-serif;
$headerFont: $sans;


	// Colors
	
$hue1: 195;
$hue2: 30;
$overlayOpacity: 0.7;

$darkColor:  hsl($hue1, 85%, 25%);
$darkColorOverlay:  hsla($hue1, 85%, 25%, $overlayOpacity);
$middleColor:  hsl($hue1, 68%, 68%);
$middleColorOverlay:  hsla($hue1, 85%, 60%, $overlayOpacity);
$lightColor: hsl($hue1, 85%, 86%);
$lightColorOverlay:  hsla($hue1, 85%, 91%, $overlayOpacity);
$contrastColor:  hsl($hue2, 85%, 68%);
$contrastColorOverlay:  hsla($hue1, 85%, 42%, $overlayOpacity);

$linkColor: $darkColor;