	
	// Fonts  

$fontbase: 16px;

$sans: 'Open Sans', sans-serif;
$headerFont: 'Cardo', sans-serif;
$handWriting: 'Permanent Marker', sans-serif;


	// Colors
	
$hue1: 195;
$hue2: 23;
$hue3: 13;
$overlayOpacity: 0.7;

$white: #FFFFFF; 
$black: #000000;

$darkColor:  hsl($hue1, 85%, 25%);
$darkColorOverlay:  hsla($hue1, 85%, 25%, $overlayOpacity);
$darkColorHex: #0a5b76;
$middleColor:  hsl($hue1, 68%, 68%);
$middleColorOverlay:  hsla($hue1, 85%, 60%, $overlayOpacity);
$middleColorHex: #76c9e5;
$middleColorSat: hsl($hue1, 41%, 51%);
$middleColorSatHex: #4E9CB5;
$lightColor: hsl($hue1, 85%, 86%);
$lightColorOverlay:  hsla($hue1, 85%, 91%, $overlayOpacity);
$lightColorHex: #bdeafa;
$contrastColor:  hsl($hue3, 85%, 46%);
$contrastColorOverlay:  hsla($hue2, 35%, 42%, $overlayOpacity);

$linkColor: $darkColor;

$headerColor: darken($middleColorHex, 21);

@mixin rolloverSize {
	width: 200px;
	// height: 150px;
}