
@import "compass/css3";
@import "compass/utilities";
@import "_variables.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-size: $fontbase;
	font-family: $sans;
	background: url('../images/chruch.png');
}

header {
	margin: 0 auto;
	background-image: url('../images/header_background.png');
	background-size: cover;
}

hr {
	opacity: 0.6;
}

a {
	color: $linkColor;
	text-decoration: none;
}

.lees_meer {
	color: lighten($linkColor, 53);
	text-shadow: 0.2px 0.4px 0.3px black;
}

#outerWrap {
	width: 90%;
	margin: 0 auto;
}

#logo {
	position: relative;
	left: 1.618em;
	top: -2.618em;
}

#headerNavWrap {
	@include clearfix;
}

#headerNav {
	background: black;
	min-width: 15%;
	float: right;
	margin: 1.5em 0 0;
		ul {
			@include clearfix;
			list-style: none;
			margin: 0;
			padding: 0;
				li {
					float: left;
					margin: 0.238em 0.618em;
					padding: 0;
						a {
							text-decoration: none;
							color: $white;
							padding: 0;
							margin: 0;
						}
				}
		}
}

#firstContactWrap {
	@include clearfix;
	width: 68%;
	margin: 0 auto;
}

#firstContact {
	color: $white;
	background-color: $darkColorOverlay;
	padding: 0.618em 1.306em;
		h2 {
			padding: 0;
			margin: 0;
		}
}

#actionCall {
	background-color: $middleColorOverlay;
	min-width: 143.244px;
	text-align: center;
	padding: 0.618em;
	float: right;
	margin-top: 1.618em;
	border: 1.6px solid $darkColor;
	-o-transition: all 0.7s ease 0.2s;
	-webkit-transition: all 0.7s ease 0.2s;
	-moz-transition: all 0.7s ease 0.2s;
	transition: all 0.7s ease 0.2s;
		p {
			text-decoration: none;
			color: $white;
			font-size: 1.618em;
			margin: 0;
		}
		&:hover {
			background-color: darken($middleColorOverlay, 14);
			border: 1.6px solid $lightColorOverlay;
		}
}

#headerImageWrap {
	@include clearfix;
	padding: 0 0 1.618em;
		img {
			width: 100%;
			border: 6.2px solid $white;
		}
		&>div {
			width: 200px;
			height: 150px;
			float: left;
			margin: 0 1.306em;
		}
		.lees_meer  {
			display: block;
			margin: 4px 0 -4px;
		}
}

.revealOnHover {
	@include rolloverSize;
	display: none;
	position: absolute;
	padding: 0.415em 0.308em 0 0.618em;
	font-size: 12px;
	line-height: 1.2;
	background-color: $darkColorOverlay;
		h3 {
			margin: 0 0 0.236em 0;
			font-size: 1.306em;
			color: $white;
		}
		p {
			color: $white;
			margin-top: 0;
		}		
}

#mainContent {
	width: 96%;
	margin: 0 auto;
}

#columnWrap {
	@include clearfix;
}

.columns {
	width: 31%;
	margin: 1.306em 0.618em;
	float: left;
	padding: 0.618em 1.306em 1.306em;
	border: 1px solid $darkColor;
	background-color: rgba(255,255,255,0.78);
		h3 {
			color: $white;
			width: 68%;
			margin: 1em auto;
			border-radius: 2px;
			background-color: lighten($darkColor, 16);
			text-align: center;
			padding: 0.236em;
		}
		img {
			width: 100%;
		}
}

footer p {
	text-align: center;
		a {
			text-decoration: none;
			color: $linkColor;
		}

}