
@import "compass/css3";
@import "compass/utilities";
@import "_variables.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-size: $fontbase;
	font-family: $sans;
	background: url('../images/chruch.png');
}

header {
	margin: 0 auto;
	background-image: url('../images/header_background.png');
	background-size: cover;
}

#outerWrap {
	width: 90%;
	margin: 0 auto;
}

#headerNavWrap {
	@include clearfix;
}

#headerNav {
	background: black;
	min-width: 15%;
	float: right;
	margin: 1.5em 0 0;
		ul {
			@include clearfix;
			list-style: none;
			margin: 0;
			padding: 0;
				li {
					float: left;
					margin: 0.238em 0.618em;
					padding: 0;
						a {
							text-decoration: none;
							color: white;
							padding: 0;
							margin: 0;
						}
				}
		}
}

#firstContactWrap {
	@include clearfix;
	width: 68%;
	margin: 0 auto;
}

#firstContact {
	color: white;
	background-color: $darkColorOverlay;
	padding: 0.618em 1.306em;
		h2 {
			padding: 0;
			margin: 0;
		}
}

#actionCall {
	background-color: $middleColorOverlay;
	min-width: 143.244px;
	text-align: center;
	padding: 0.618em;
	float: right;
	margin-top: 1.618em;
	border: 1.6px solid $darkColor;
	-o-transition: all 0.7s ease 0.2s;
	-webkit-transition: all 0.7s ease 0.2s;
	-moz-transition: all 0.7s ease 0.2s;
	transition: all 0.7s ease 0.2s;
		p {
			text-decoration: none;
			color: white;
			font-size: 1.618em;
			margin: 0;
		}
		&:hover {
			background-color: darken($middleColorOverlay, 14);
			border: 1.6px solid $lightColorOverlay;
		}
}

#mainContent {
	width: 96%;
	margin: 0 auto;
}

#columnWrap {
	@include clearfix;
}

.columns {
	width: 31%;
	margin: 1.306em 0.807em;
	float: left;
	padding: 1.306em;
	border: 1px solid $darkColor;
	background-color: rgba(255,255,255,0.78);
		h3 {
			width: 68%;
			margin: 1em auto;
			border-radius: 2px;
			background-color: lighten($darkColor, 16);
			text-align: center;
		}
}