/* line 6, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/screen.scss */
body {
  width: 100%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background: url("../images/chruch.png");
}

/* line 20, ../sass/screen.scss */
header {
  margin: 0 auto;
  background-image: url("../images/header_background.png");
  background-size: cover;
}

/* line 26, ../sass/screen.scss */
hr {
  opacity: 0.6;
}

/* line 30, ../sass/screen.scss */
a {
  color: #0a5b76;
  text-decoration: none;
  -webit-transition: all 0.4s ease 0.15s;
  -moz-transition: all 0.4s ease 0.15s;
  transition: all 0.4s ease 0.15s;
}
/* line 36, ../sass/screen.scss */
a:hover {
  color: #03212a;
}

/* line 41, ../sass/screen.scss */
.left {
  float: left;
}

/* line 45, ../sass/screen.scss */
.right {
  float: right;
}

/* line 49, ../sass/screen.scss */
.lees_meer a {
  color: #bdeafa;
  text-shadow: 0.2px 0.4px 0.3px black;
}

/* line 54, ../sass/screen.scss */
#outerWrap {
  width: 90%;
  margin: 0 auto;
}

/* line 59, ../sass/screen.scss */
#logo {
  position: relative;
  left: 1.618em;
  top: -3.42em;
}

/* line 65, ../sass/screen.scss */
#headerNavWrap {
  overflow: hidden;
  *zoom: 1;
}

/* line 69, ../sass/screen.scss */
#headerNav {
  background: black;
  min-width: 15%;
  float: right;
  margin: 1.306em 0 0;
}
/* line 74, ../sass/screen.scss */
#headerNav ul {
  overflow: hidden;
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 79, ../sass/screen.scss */
#headerNav ul li {
  float: left;
  margin: 0.238em 0.618em;
  padding: 0;
}
/* line 83, ../sass/screen.scss */
#headerNav ul li a {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
}

/* line 93, ../sass/screen.scss */
#firstContactWrap {
  overflow: hidden;
  *zoom: 1;
  width: 68%;
  margin: 0 auto;
}

/* line 99, ../sass/screen.scss */
#firstContact {
  color: white;
  background-color: rgba(10, 91, 118, 0.7);
  padding: 0.618em 1.306em;
}
/* line 103, ../sass/screen.scss */
#firstContact h2 {
  padding: 0;
  margin: 0;
}

/* line 109, ../sass/screen.scss */
#actionCall {
  background-color: rgba(66, 196, 240, 0.7);
  min-width: 143.244px;
  text-align: center;
  padding: 0.618em;
  float: right;
  margin-top: 1.618em;
  border: 1.6px solid #0a5b76;
  -o-transition: all 0.7s ease 0.2s;
  -webkit-transition: all 0.7s ease 0.2s;
  -moz-transition: all 0.7s ease 0.2s;
  transition: all 0.7s ease 0.2s;
}
/* line 121, ../sass/screen.scss */
#actionCall p {
  text-decoration: none;
  color: white;
  font-size: 1.618em;
  margin: 0;
}
/* line 127, ../sass/screen.scss */
#actionCall:hover {
  background-color: rgba(18, 167, 217, 0.7);
  border: 1.6px solid rgba(213, 242, 252, 0.7);
}

/* line 133, ../sass/screen.scss */
#headerImageWrap {
  overflow: hidden;
  *zoom: 1;
  padding: 0 0 1.618em;
}
/* line 136, ../sass/screen.scss */
#headerImageWrap img {
  width: 100%;
  border: 6.2px solid white;
}
/* line 140, ../sass/screen.scss */
#headerImageWrap > div {
  width: 200px;
  height: 150px;
  float: left;
  margin: 0 1.306em;
}
/* line 146, ../sass/screen.scss */
#headerImageWrap .lees_meer {
  display: block;
  margin: 4px 0 -4px;
}

/* line 152, ../sass/screen.scss */
.revealOnHover {
  width: 200px;
  display: none;
  position: absolute;
  padding: 0.415em 0.308em 0 0.618em;
  font-size: 12px;
  line-height: 1.2;
  background-color: rgba(10, 91, 118, 0.7);
}
/* line 160, ../sass/screen.scss */
.revealOnHover h3 {
  margin: 0 0 0.236em 0;
  font-size: 1.306em;
  color: white;
}
/* line 165, ../sass/screen.scss */
.revealOnHover p {
  color: white;
  margin-top: 0;
}

/* line 171, ../sass/screen.scss */
#mainContent {
  overflow: hidden;
  *zoom: 1;
  width: 96%;
  margin: 0 auto 1.618em;
}

/* line 177, ../sass/screen.scss */
#pageWrap {
  float: left;
  background-color: white;
  width: 68%;
  padding: 1em;
}
/* line 182, ../sass/screen.scss */
#pageWrap h2 {
  margin: 0;
}
/* line 185, ../sass/screen.scss */
#pageWrap h3 {
  margin-top: 0;
}
/* line 188, ../sass/screen.scss */
#pageWrap ul {
  list-style: none;
}
/* line 190, ../sass/screen.scss */
#pageWrap ul li {
  padding: 1em 0 1em;
}
/* line 194, ../sass/screen.scss */
#pageWrap .image_wrap {
  width: 55%;
  margin: 0 1em 0.618em 0;
}
/* line 197, ../sass/screen.scss */
#pageWrap .image_wrap img {
  width: 100%;
}

/* line 203, ../sass/screen.scss */
#columnWrap {
  overflow: hidden;
  *zoom: 1;
}

/* line 207, ../sass/screen.scss */
.columns {
  width: 31%;
  margin: 1.306em 0.618em;
  float: left;
  padding: 0.618em 1.306em 1em;
  border: 1px solid #0a5b76;
  background-color: rgba(255, 255, 255, 0.78);
}
/* line 214, ../sass/screen.scss */
.columns h3 {
  color: white;
  width: 68%;
  margin: 1em auto;
  border-radius: 2px;
  background-color: #1095c1;
  text-align: center;
  padding: 0.236em;
}
/* line 223, ../sass/screen.scss */
.columns img {
  width: 100%;
}
/* line 226, ../sass/screen.scss */
.columns p {
  height: 21.313em;
}

/* line 231, ../sass/screen.scss */
footer p {
  text-align: center;
}
/* line 233, ../sass/screen.scss */
footer p a {
  text-decoration: none;
  color: #0a5b76;
}
